<div class="container">
  <div class="contact-details" *ngIf="contact">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" style="color: #6C63FF;">Détail du contact</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><img [src]="contact.photo" alt="Photo" class="photo"></li>
        <li class="list-group-item"><strong>Prénom:</strong> {{ contact.first_name }}</li>
        <li class="list-group-item"><strong>Nom:</strong> {{ contact.last_name }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ contact.email }}</li>
        <li class="list-group-item"><strong>Phone:</strong> {{ contact.phone }}</li>
      </ul>
      <button routerLink="/dashboard" class="btn btn-primary">Retour au tableau de bord</button>
    </div>
  </div>
</div>
<style>
  .card{
    /* box-shadow: crimson 3px 4px; */
    padding: 25px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
</style>
