<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="mb-3">
      <label for="first_name" class="form-label">Prénom</label>
      <input type="text" class="form-control" id="first_name" placeholder="Entrez votre nrénom" formControlName="first_name">
    </div>

    <div class="mb-3">
      <label for="last_name" class="form-label">Nom</label>
      <input type="text" class="form-control" id="last_name" placeholder="Entrez votre nom" formControlName="last_name">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <div class="col-auto">
      <input type="email" class="form-control" id="email" placeholder="Entrez votre email" formControlName="email">
      </div>
    </div>
    <div class="mb-3">
      <label for="téléphone" class="form-label">Téléphone</label>
      <input type="tel" class="form-control" formControlName="phone" placeholder="Entrez votre numéro de téléphone" formControlName="phone">
    </div>

    <div class="mb-3">
      <label>Photo:</label>
      <input type="text" class="form-control" formControlName="photo" placeholder="Entrez l'URL de votre photo" />
    </div>

    <button type="submit" [disabled]="contactForm.invalid" class="btn btn-success submit border-none" (click)="onSubmit()">
      {{editing ? 'Modifier' : 'Submit'}}
    </button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    <div class="col-3 mb-3">
      <button routerLink="/dashboard" class="btn btn-primary dashboard" >Retour au tableau de bord</button>
    </div>
  </form>
</div>

<style>

</style>
