<div class="form-container">
  <form>
    <label for="first_name" class="form-label">first_page</label>
    <input type="text" class="form-control" id="first_name" placeholder="Entrez votre email" formControlName="first_name">
    <label for="last_name" class="form-label">last_name</label>
    <input type="text" class="form-control" id="last_name" placeholder="Entrez votre email" formControlName="last_name">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Entrez votre email" formControlName="email">

    <label for="téléphone" class="form-label">Téléphone</label>
    <input type="tel" class="form-control" formControlName="phone" placeholder="Entrez votre numéro de téléphone" formControlName="phone">

    <label>Photo:</label>
    <input type="text" formControlName="photo" placeholder="Entrez l'URL de votre photo" />

    <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary" (click)="onSubmit()">
      {{editing ? 'Modifier' : 'Submit'}}
    </button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </form>
</div>
